.abtdescription{
    margin-bottom: 7.5px;
}

.abtdivider{
    font-style: normal;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 10px;
}

.extra{
    padding-top: 0.1px;
}

.desc{
    font-style: italic;
}