@import "../stylesheet.css";

.navbar{
    font-family: 'sometype', Times, serif;
    font-size: 12px;
}

.topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.homebutton a {
    font-family: 'arialuni', Arial, sans-serif;
    float: left;
    width: 40px;
    display: block;
    color: #131313;
    text-decoration: none;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 30px;
    display: inline;
}

.navbutton a {
    font-family: 'sometype', Times, serif;
    float: left;
    display: block;
    color: #131313;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline;
}

.navbutton a:hover {
    text-decoration: italic;
}
